/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


@font-face {
	font-family: Red-Hat-Text;
	src: url(fonts/Red_Hat_Text/RedHatText-Medium.ttf);
}

@font-face {
	font-family: Aleo;
	src: url(fonts/Aleo/Aleo-Regular.ttf);
} 



@font-face {
	font-family: Magra;
	src: url(fonts/Magra/Magra-Regular.ttf);
} 


button__font {
	font-family: 'Red-Hat-Text';
	
}

.wrapper {
	min-height: 100%;
	background-color: #ffffff;
	
}

.container {
	margin: 0px auto;
	width: 1440px;
}

.header__background {
	background-image: url('img/top_background.jpg');
	
}

.header__items {
	height: 90px;
	background-color: rgb(242, 120, 92, 0.7);
	display: flex;
	}

.header__logos {
	display: flex;
	}

.header__logo {
	width: 30px;
	height: 30px;
	margin-left: 120px;
	margin-top: 26px;
}

.header__name{
	margin-left: 6px;
	margin-top: 25px;
	width: 180px;
	height: 31px;
	color: #ffffff;
	font-weight: 500;
	font-family: 'Magra';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
}

.header__navigations {
	margin-left: 116px;
	margin-top: 35px;
}

.header__navigation{
	display: flex;
	
}

.header__navigation li{
	margin-left: 42px;
	font-size: 16px;
	color: #ffffff;
}


.button__login {
	margin-left: 196px;
	margin-top: 25px;
	background-color: #0D606F;
	width: 103px;
	height: 41px;
	border-radius: 10px;
	color: #ffffff;
	font-size: 16px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.preview {
	height: 675px;
	background: url('img/top_background.jpg') 0 -90px no-repeat;
}

.introduction__block {
	margin-left: 120px;
	padding-top: 32px;
	width: 842px;
	height: 422px;
}

h1 {
font-family: 'Aleo';
font-size: 80px;
line-height: 96px;
color: #ffffff;
font-weight: 700;
}

.introdauction__text {
	margin-bottom: 46px;
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

.input__info {
	margin-bottom: 254px;
	background-color: rgb(255, 255, 255, 0.7);
	width: 892px;
	height: 95px;
	border-radius: 16px;
}

.text__input {
	margin-top: 32px;
	margin-left: 41px;
	width: 560px;
	height: 22px;
	background-color: rgb(255, 255, 255, 0);
	font-family: 'Aleo';
	font-style: italic;
	font-size: 24px;
	line-height: 29px;
	color: #F2785C;
}

.text__input::placeholder{
color: #F2785C;
}


.introduction__button {
	margin-top: 18px;
	margin-left: 45px;
	background-color: #0D606F;
	width:228px;
	height: 59px;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	text-align: center;
	color: #ffffff;
	font-family: 'Red-Hat-Text';
}

.steps {
	background-color: #ffffff;
	width: 1177px;
	margin: 0px auto;
	margin-top: 80px;
	margin-bottom: 97px;
}

h2 {
	width: 611px;
	height: 53px;
	font-family: 'Red-Hat-Text';
	color: #F2785C;
	margin: 0px auto;
	font-weight: 500;
	font-size: 40px;
	line-height: 53px;
	text-align: center;
}

.steps__block {
	margin-top: 40px;
	display: flex;
}

.one, .two, .three {
	flex: 1 1 33.33%;
}

.step {
	width: 100px;
	height: 100px;
	border-radius: 16px;
	background-color: #F2785C;
	margin: 0px auto;
	
}

.step {
	display: flex;
	align-items: center;
	justify-content: center;
}

.step__style__text{
	text-align: center;
	margin-top: 30px;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #0D606F;
}

.destinations {
	height: 1042px;
	width: 1440px;
	background-color: #ffffff;
}

.label__destination {
	text-align: center;
	margin-top: 46px;
}


.destinations__pictures{
	display: flex;
	margin-top: 46px;
}

.destinations__picture__two {
	flex: 1 1 63.889%;
	height: 800px;
	width: 800px;
	}

.destinations__picture__one {
	flex: 1 1 18.055%;
	height: 800px;
}

.destinations__picture__three {
	flex: 1 1 18.055%;
	height: 800px;
}

.destinations__picture__two {
	margin-left: 0px;
	margin-right: 0px;
}

.destinations__picture__one {
	background: url(img/destOne.jpg) -540px 0 no-repeat;
}

.destinations__picture__two {
	background: url(img/destTwo.jpg) 60px 0 no-repeat;
}

.destinations__picture__three {
	background: url(img/destThree.jpg) 0 0 no-repeat;
}

.destination__name {
	width:108px;
	height: 42px;
	margin-top: 718px;
	margin-left: 75px;
	font-family: 'Red-Hat-Text';
	font-size: 32px;
	font-weight: 500;
	color: #ffffff;
}

.destination__name__first {
	visibility: hidden;
}

.destination__name__third {
	margin-left: 15px;
}

.destinations__radio {
	margin-top: 24px;
	display: flex;
	justify-content: center;
}

.destination__one, .destination__two, .destination__three {
	width: 20px;
	height: 20px;
	background: rgba(242, 120, 92, 0.5);
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 5px;
}

.destination__two {
	background: #F2785C;
}

.destination__button, .stories__button {
	margin-left: 42.08%;
	margin-top: 40px;
	width: 228px;
	height: 59px;
	background-color: #0D606F;
	color: #ffffff;
	box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	font-family: 'Red-Hat-Text';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	margin-top: 13.5px;
}

.destination__button img {
	margin-left: 33.5px;
	margin-right: 12.5px;
	margin-top: 4.75px;
	height: 22.5px;
	width: 35px;
}

.stories__backgound__picture {
	background-image: url(img/story__background.jpg);
	
}

.stories__backgound {
	background-color: rgb(255, 255, 255, 0.7);
}

.stories__label {
	margin-bottom: 10px;
}

.stoies__block {
	margin-top: 40px; 
	display: flex;
	flex-direction: column;
}

.story__block {
	margin-top: 30px;
	margin-left: 120px;
}

.story__block img{
width: 400px;
height: 250px;
border-radius: 16px;
box-shado: 0px 4px 4px #0D606F;
}

.story__block {
	display: flex;
	width: 1200px;
}

.story__texts {
	margin-left: 40px;
}

h3 {
	text-align: left;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 42px;
	color: #0D606F;
	margin-bottom: 24px;
}

.story__text {
	width: 760px;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #0D606F;
	margin-top: 24px;
}

.first__story {
	margin-top: 40px;
}

.story__text p {
	font-weight: 700;
}

.stories__button {
	margin-top: 41px;
	margin-bottom: 41px;
}

.footer__block {
	height: 61px;
	background: url(img/story__background.jpg) 0 -1270px no-repeat;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__text {
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
}

.footer__contact {
	justify-self: flex-start;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
}

.footer__socialMedia {
	display: flex;
	margin-right: 123.54px;
	width: 132.42px;
	justify-content: space-between;

}

.footer__socialMedia div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__contact {
	margin-left: 100px;
	display: flex;
	align-items: center;
	margin-left: 119px;
	justify-content: space-between;
	width: 150px;
}

.footer__socialMedia a {
	width: 40px;
	height: 30px;
	justify-self: center;
}

.footer__contact img{
height: 38px;
}

.footer__github {
	height: 40px;
	margin-left: 100px;
}

.footer__youtube {
	width: 32px;
	height: 28px;
	background:  url(img/yu.svg) center center no-repeat, 
	url(img/youtube.svg) 0 0 no-repeat;
	align-self: center;
}
